<%= form_with(model: categ, local: true) do |form| %>
  <% if categ.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categ.errors.count, "error") %> prohibited this categ from being saved:</h2>

      <ul>
        <% categ.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
